<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, custom and leaflet CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    {% load static %}
    <!-- <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">     -->
    <!-- <link href="{% static 'lib/css/leaflet.css' %}" rel="stylesheet" type="text/css"> -->
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/lib/css/leaflet.css" rel="stylesheet">
		<!-- leaflet javascript -->
    <!-- <script src="{% static 'lib/js/leaflet.js' %}"></script> -->
    <!-- <script src="{% static 'lib/js/leaflet-heat.js' %}"></script> -->
    <script src="/static/lib/js/leaflet.js"></script>
    <script src="/static/lib/js/leaflet-heat.js"></script>

    <title>Air Quality</title>
  </head>
  <body>
    <div class="container">
      <!-- main body -->

      <!-- map, drop-down row -->
      <div class="row">
        
        <!-- map column -->
        <div class="jumbotron col-8">
          <!-- create the div that will hold the map -->
          <div id="map"></div>          
        </div>
        <!-- map column -->

        <!-- drop-down options column -->
        <div class="jumbotron col-4">
          <div class="row">
            <select id="list-emissions">
              {% for emission in emission_types %}
                <option value="{{ emission.value }}"">{{ emission.text }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row">
              <select id="list-london-areas">
                {% for area in area_groups %}
                  <option value="{{ area.value }}">{{ area.text }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="row">
              <select id="list-illnesses">
                {% for illness in illness_types %}
                  <option value="{{ illness.value }}">{{ illness.text }}</option>
                {% endfor %}
              </select>
          </div>          
        </div>
        <!-- drop-down options column -->

      </div>
      <!-- /map, drop-down row -->
       
      <!-- illness information row -->
      <div class="row">
        <p id="info-illness">Info about the default illness</p>
      </div>
      <!-- illness information row -->

      <!-- Load the javascript to render the map -->
      <!-- <script src="{% static 'js/index.js' %}"></script> -->
      <script src="static/js/index.js"></script>

    </div>
    <!-- /main body -->     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>