<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, custom and leaflet CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link href="css/styles.css" rel="stylesheet" type="text/css">
		<link href="lib/css/leaflet.css" rel="stylesheet" type="text/css">
		
		<!-- leaflet javascript -->
    <script src="lib/js/leaflet.js"></script>
    <script src="lib/js/leaflet-heat.js"></script>

    <title>Air Quality</title>
  </head>
  <body>
    <!-- <div class="container"> -->
      <!-- main body -->
      <!-- <div class="jumbotron"> -->
      
        <!-- create the div that will hold the map -->
        <!-- <div id="map"></div> -->
        <!-- Load the JSON places and the javascript to render the map -->
        <!-- <script type='text/javascript' src='data/places.json'></script> -->
        <!-- <script src="js/index.js"></script> -->
      <!-- </div> -->
      <!-- /main body -->      
    <!-- </div> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>