#map { 
    height: 500px; 
    /* width: 100%; */
}

.jumbotron-narrow {
    padding-top: 1rem;
    padding-bottom: 2rem;    
}

.chart-container{
    position: relative; 
    height: 20vh; 
    width: 100%;
}

.circle-text{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.cell{
    border-style: solid;
    border-color: #e9ecef;
    border-width: 2px; 
    border-radius: 10px;
    text-align: center;
}

.inactive {
    color: #C0C0C0
}

.cell-level-1{
    color: ivory;
    background-color: #006837;
}

.cell-level-2{
    color: ivory;
    background-color: #1a9850;
}

.cell-level-3{
    color: ivory;
    background-color: #66bd63;
}

.cell-level-4{
    color: grey;
    background-color: #a6d96a;
}

.cell-level-5{
    color: grey;
    background-color: #d9ef8b;
}

.cell-level-6{
    color: grey;
    background-color: #fee08b;
}

.cell-level-7{
    color: grey;
    background-color: #fdae61;
}

.cell-level-8{
    color: ivory;
    background-color: #f46d43;
}

.cell-level-9{
    color: ivory;
    background-color: #d73027;
}

.cell-level-10{
    color: ivory;
    background-color: #a50026;
}

.col-sites {
    width: 40%;
}

.col-co, .col-no2, .col-o3, .col-pm10, .col-pm25, .col-so2{
    width: 10%;
    text-align: center;
}

.row-hidden{
    display: none;
}