#map { 
    height: 500px; 
    /* width: 100%; */
}

.jumbotron-narrow {
    padding-top: 1rem;
    padding-bottom: 2rem;    
}

.chart-container{
    position: relative; 
    height: 50vh; 
    width: 100%;
}

.circle-text{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.badge-pill{
    /* margin-left: 0.3em;
    margin-right: 0.3em;
    padding-left: 0.1em;
    padding-right: 0.1em; */
}

.inactive {
    color: #C0C0C0
}

.badge-level-1{
    color: ivory;
    background-color: #006837;
}

.badge-level-2{
    color: ivory;
    background-color: #1a9850;
}

.badge-level-3{
    color: ivory;
    background-color: #66bd63;
}

.badge-level-4{
    color: ivory;
    background-color: #a6d96a;
}

.badge-level-5{
    color: ivory;
    background-color: #d9ef8b;
}

.badge-level-6{
    color: ivory;
    background-color: #fee08b;
}

.badge-level-7{
    color: ivory;
    background-color: #fdae61;
}

.badge-level-8{
    color: ivory;
    background-color: #f46d43;
}

.badge-level-9{
    color: ivory;
    background-color: #d73027;
}

.badge-level-10{
    color: ivory;
    background-color: #a50026;
}