#map { 
    height: 500px; 
    /* width: 100%; */
}

.jumbotron-narrow {
    padding-top: 1rem;
    padding-bottom: 2rem;    
}

.chart-container{
    position: relative; 
    height:50vh; 
    width:100%;
}