<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, custom and leaflet CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    {% load static %}
    <!-- custom styles and leaflet css -->    
    <link href="{% static 'lib/css/leaflet.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    
		<!-- leaflet and heatmap libs -->
    <script src="{% static 'lib/js/leaflet.js' %}"></script>
    <script src="{% static 'lib/js/heatmap.min.js' %}"></script>
    <script src="{% static 'lib/js/leaflet-heatmap.js' %}"></script>
    <script src="{% static 'lib/js/Chart.bundle.min.js' %}"></script>
  
    <title>Air Quality</title>
  </head>
  <body>
    <!-- Navbar and nav options -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <!-- always-visible logo / branding -->
      <a class="navbar-brand" href="#">AirQuality</a>
        <!-- Toggler/collapsible Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- /always-visible logo / branding -->

      <!-- collapsible navbar section -->
      <!-- the below will convert to a burger menu automatically for small screens -->
      <div class="collapse navbar-collapse" id="collapsible-navbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#info-emissions">Emissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#info-local-authority">Local Authorities</a>
          </li>                    
          <li class="nav-item">
            <a class="nav-link" href="#info-about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
      </div>
      <!-- /collapsible navbar section -->
    </nav>
    <!-- /Navbar -->

    <!-- main body -->
    <div class="container">
      <div class="row">
        <!-- drop-down, map group -->
        <div class="jumbotron jumbotron-narrow col-lg-8 col-md-12">

          <!-- drop-down menus row -->
          <div class="form-row">
            <!-- emissions drop-down -->
            <div class="col-md-6 col-sm-12">
              <select id="list-emissions" class="form-control">
                {% for emission in emissions_info %}
                  <option value="{{ emission.code }}">{{ emission.name }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- /emissions drop-down -->

            <!-- locations drop-down -->
            <div class="col-md-6 col-sm-12">
                <select id="list-london-areas" class="form-control">
                    <option value="0">All Local Authorities</option>
                  {% for local_auth in local_auths %}
                    <option value="{{ local_auth.code }}">{{ local_auth.name }}</option>
                  {% endfor %}
                </select>
            </div>
            <!-- /locations drop-down -->

          </div>
          <!-- /drop-down menus row -->

          <!-- map  -->
          <div class="row">
            <div class="col-12">
              <!-- create the div that will hold the map -->
              <div id="map"></div>          
            </div>
          </div>
          <!-- /map -->
        </div>      
      <!-- drop-down, map group -->

        <div class="jumbotron jumbotron-narrow col-lg-4 col-md-12">          
          <h3 id="title-emissions">Info about the emission selected</h3>
          <!-- emission info cards -->
          <div class="row">
            <div class="col-lg-12 col-md-6 mt-3">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Description</h5>
                  <p class="card-text" id="description-emissions">Description of the emission</p>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-6 mt-3 ">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Health Effects</h5>
                  <p class="card-text" id="health-effect-emissions">Health effects of the emission</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /emission info card-deck -->
        </div>
      </div>

      <!-- local authority information group -->
      <div class="jumbotron jumbotron-narrow" id="info-local-authority">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="row">
              <h3 id="title-local-authority">Information about the Local Authority</h3>
            </div>
            <div class="row">            
              <p id="description-local-authority"></p>
            </div>
            <div class="row">
              <table id="table-active-sites" class="table table-sm table-responsive"></table>
            </div>
            <div class="row">
              <table id="table-inactive-sites" class="table table-sm"></table>
            </div>
          </div>
          <div id="info-site" class="col-lg-6 col-md-12">
            <div class="row">
              <div id="name-site">
                <h3>Site name</h3>
              </div>
            </div>
            <div class="row row-chart row-hidden">
              <canvas id="chart-co"></canvas>
            </div>
            <div class="row row-chart row-hidden">
                <canvas id="chart-no2"></canvas>
            </div>
            <div class="row row-chart row-hidden">
                <canvas id="chart-o3"></canvas>
            </div>
            <div class="row row-chart row-hidden">
                <canvas id="chart-pm10"></canvas>
            </div>
            <div class="row row-chart row-hidden">
                <canvas id="chart-pm25"></canvas>
            </div>
            <div class="row row-chart row-hidden">
                <canvas id="chart-so2"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- local authority information group -->

      <!-- 'about' group -->
      <div class="jumbotron jumbotron-narrow" id="info-about">
          <div class="row">
            <h3>About AirQuality</h3>            
          </div>
          <div class="row">
            <p>
              This web app displays data collected by the <a href="https://www.kcl.ac.uk/lsm/research/divisions/aes/research/ERG">
              Environmental Research Group</a> at <a href="https://www.kcl.ac.uk/">King's College London</a>. 
              The data is collected hourly from sites across Greater London, and is freely available through 
              <a href="http://api.erg.kcl.ac.uk/AirQuality/help">their API</a>.
              <br><br>
              The app is a project in web development and data science. It is written in Python using the
              <a href="https://www.djangoproject.com">django</a> framework. Mapping is provided by 
              <a href="https://leafletjs.com/">leaflet</a>, heatmaps by <a href="https://www.patrick-wied.at/static/heatmapjs/plugin-leaflet-layer.html">
              leaflet-heatmap</a>, and charts by <a href="https://www.chartjs.org/">chartjs</a>. The github 
              repo is <a href="https://github.com/al-vincent/air-quality">here</a>.
            </p>
          </div>
        </div>
        <!-- 'about' group -->

      <!-- LEAVE THESE 'TIL LAST!! -->
      <!-- pass data to javascript as JSON -->
      {{ emissions_data|json_script:"emissions-data-id" }}
      {{ emissions_info|json_script:"emissions-info-id" }}
      {{ local_auths|json_script:"local-auths-id" }}
      {{ sites|json_script:"sites-id" }}

      <!-- Load the javascript to render the map -->
      <script src="{% static 'js/londonBoroughs.geojson' %}"></script>
      <script src="{% static 'js/index.js' %}"></script>

    </div>
    <!-- /main body -->     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>