<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, custom and leaflet CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    {% load static %}
    <!-- custom styles and leaflet css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lib/css/leaflet.css' %}" rel="stylesheet" type="text/css">
    
		<!-- leaflet and heatmap libs -->
    <script src="{% static 'lib/js/leaflet.js' %}"></script>
    <script src="{% static 'lib/js/heatmap.min.js' %}"></script>
    <script src="{% static 'lib/js/leaflet-heatmap.js' %}"></script>
    <script src="{% static 'lib/js/Chart.bundle.min.js' %}"></script>
  
    <title>Air Quality</title>
  </head>
  <body>
    <!-- Navbar and nav options -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <!-- always-visible logo / branding -->
      <a class="navbar-brand" href="#">AppName</a>
        <!-- Toggler/collapsible Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- /always-visible logo / branding -->

      <!-- collapsible navbar section -->
      <!-- the below will convert to a burger menu automatically for small screens -->
      <div class="collapse navbar-collapse" id="collapsible-navbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#info-emissions">Emissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#info-illness">Illnesses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
      </div>
      <!-- /collapsible navbar section -->
    </nav>
    <!-- /Navbar -->

    <!-- main body -->
    <div class="container">

      <!-- drop-down, map group -->
      <div class=" jumbotron">

        <!-- drop-down menus row -->
        <div class="form-row">
          <!-- emissions drop-down -->
          <div class="col-lg-4 col-sm-12">
            <label for="list-emissions">Emission type</label>
            <select id="list-emissions" class="form-control">
              {% for emission in emission_types %}
                <option value="{{ emission.value }}">{{ emission.text }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- /emissions drop-down -->

          <!-- locations drop-down -->
          <div class="col-lg-4 col-sm-12">
              <label for="list-london-areas">Area to view</label>
              <select id="list-london-areas" class="form-control">
                {% for area in area_groups %}
                  <option value="{{ area.value }}">{{ area.text }}</option>
                {% endfor %}
              </select>
          </div>
          <!-- /locations drop-down -->

          <!-- illnesses drop-down -->
          <div class="col-lg-4 col-sm-12">
              <label for="list-illnesses">Illness affected</label>
              <select id="list-illnesses" class="form-control">
                {% for illness in illness_types %}
                  <option value="{{ illness.value }}">{{ illness.text }}</option>
                {% endfor %}
              </select>
          </div>
          <!-- /illnesses drop-down -->
        </div>
        <!-- /drop-down menus row -->

        <!-- map  -->
        <div class="row">
          <div class="col-12">
            <!-- create the div that will hold the map -->
            <div id="map"></div>          
          </div>
        </div>
        <!-- /map -->

      </div>
      <!-- drop-down, map group -->

      <!-- emissions information group -->
      <div class="jumbotron">
        <h3 id="info-emissions">Info about the emission selected</h3>
        
        <!-- emission info card-deck -->
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text" id="description-emissions">Description of the emission</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Health Effects</h5>
              <p class="card-text" id="health-effect-emissions">Description of the emission</p>
            </div>
          </div>
        </div>
        <!-- /emission info card-deck -->

        <p id="link-emissions"></p>

        <!-- emissions graphs -->
        <div id=graph-emission-history>
          <canvas id="canvas-emission-history-graph"></canvas>
        </div>
        <!-- /emissions graphs -->
      </div>
      <!-- emissions information group -->

      <!-- illness information group -->
      <div class="jumbotron">
        <div class="row">
          <h3 id="info-illness">Info about the illness selected</h3>
        </div>
      </div>
      <!-- illness information row -->

      <!-- LEAVE THIS 'TIL LAST!! -->
      <!-- pass data to javascript as JSON -->
      {{ geo_data|json_script:"geo-data-id" }}
      {{ emissions_info|json_script:"emissions-info-id" }}
      <!-- Load the javascript to render the map -->
      <script src="{% static 'js/index.js' %}"></script>

    </div>
    <!-- /main body -->     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>